<?xml version="1.0" encoding="utf-8" ?>
<configuration>

    <configSections>
        <section name="bltoolkit" type="BLToolkit.Configuration.BLToolkitSection, BLToolkit.3"/>
    </configSections>
    <bltoolkit>
        <dataProviders>
            <add type="lib.Data.DataProvider.MySqlDataProvider, secModuleLib" />
        </dataProviders>
    </bltoolkit>
    
    <appSettings>
        <add key = "BLToolkit.DefaultConfiguration" value = "secModule_mysql"/>
        <!--add key= "BLToolkit.DefaultConfiguration" value = "secModule"/-->
    </appSettings>
    <connectionStrings >
        <clear/>
        <add name="secModule" providerName="System.Data.SqlClient"
            connectionString="Data Source=localhost;Initial Catalog=secModule;Integrated Security=True"/>
        <add name="secModule_mysql" providerName="MySql.Data.MySqlClient"
            connectionString="Server=localhost;Port=3306;Database=secModule;Uid=root;Pwd=Password$;"/>
    </connectionStrings>
</configuration>