<?xml version="1.0" encoding="utf-8" ?>
<appSettings>
  <clear/>
  <add key="MaxLoginAttemps" value="3" />
  <!-- keys para los dts -->
  <add key="PREPROCESO" value="C:\TEINSA_DTSX\ISP\ISP\Package.dtsx" />
  <add key="DTS_Prestamos" value="C:\TEINSA_DTSX\ISP\ISP\Package.dtsx" />
  <!-- security logger -->
  <add key="AuditLogger" value="AuditLogger" />

  <add key="DomainName" value="LATAM" />
  <add key="Environment" value="desarrollo"/>
  <add key="DateFormat" value="dd-MM-yyyy"/>
  <!-- refres to this setting from session factories as appSettings://configs-->
  <add key="configs" value="C:\Users\admin\Development\atomos-solution\teinsa-atomos\config"/>
</appSettings>
